{% extends 'base.html.twig' %}

{% block title %}M-Esakafo | Accueil{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Nos Plats</h1>
        
        <div class="row">
            {% for plat in plats %}
                <div class="col-md-3 mb-4">
                    <div class="card">
                        <img src="{{ asset('images/' ~ plat.sprite) }}" class="card-img-top" alt="{{ plat.nom }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ plat.nom }}</h5>
                            <p class="card-text">
                                Prix: {{ plat.prix }}€<br>
                                Temps de cuisson: {{ plat.tempsCuisson ? plat.tempsCuisson|date('H:i') : 'N/A' }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
